<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>450750879146-j10j100eft631ub61b6rbbvalqqgt245.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450750879146-j10j100eft631ub61b6rbbvalqqgt245</string>
	<key>API_KEY</key>
	<string>AIzaSyDzuT6Nkcq1H-eRFbNpoRPcE-eYci1SukM</string>
	<key>GCM_SENDER_ID</key>
	<string>450750879146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terratap.crowdping</string>
	<key>PROJECT_ID</key>
	<string>crowdping-fe48d</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdping-fe48d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:450750879146:ios:ebd04da13f3a458e</string>
	<key>DATABASE_URL</key>
	<string>https://crowdping-fe48d.firebaseio.com</string>
</dict>
</plist>